#projectsContainer{
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}
#projectsContainer::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento en navegadores WebKit */
  }